body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(238, 238, 238, 0.281)), url(../Images/craft-beer1.jpg);
}
.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(238, 238, 238, 0.281)), url(../Images/craft-beer1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:rgb(228, 215, 157);
    font-size: 80px;
    letter-spacing: 3px;
    margin-bottom: 60px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    padding-left: 50px; 
    font-weight: 20px;
    text-shadow: 2px 2px 4px #000000;
}
h2{
    color:rgb(228, 215, 157);
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-family: 'Fredericka the Great', cursive;
    align-items: center;
    padding-left: 10px;
    text-shadow: 2px 2px 4px #000000;
}
p{
    color:rgb(228, 215, 157);
    font-size: large;
    text-align: center;
    margin-left: 100px;
    text-shadow: 2px 2px 4px #000000;
}
.brewery-search{
    height:40px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 400px;
}
.location-search{
    height:40px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 200px;
}
.form-box{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
}
.custom{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.btn, .btn-danger, .wrn-btn{
    text-align: center;
}

#map { height: 50vh; }

.display{
    margin-left: 250px;
    color:white;
    font-size: 25px;
    
}
.col-lg-12{
    margin-left: 100px;
}
.directions{
    text-align: center;
}
.jumbotron{
    position: relative;
}
.text{
    color:white;
}



/* font-family: 'Marck Script', cursive;
font-family: 'Baloo Chettan', cursive;
font-family: 'Ultra', serif;
font-family: 'Rock Salt', cursive;
font-family: 'Damion', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Rancho', cursive;
font-family: 'Fredericka the Great', cursive; */